@use '../../SASS/mixins.scss' as Mixins;

.page{
    @include Mixins.page;
    display: flex;
    flex-direction: column;
    gap: 10px;
    #title{
        font-size: 60px;
    }
    #first{
        display: flex;
        gap: 2rem;
        #trends{
            display:grid;
            grid-template-columns: auto auto;
            gap: 20px;
            width: 60%;
        }
    }

}