
body {
	margin: 0;
	font-family: "Red Hat Display", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-smooth: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

	a,
	a:visited {
		font-family: inherit;
		color: white;
		text-decoration: none;
	}
	button,
	input {
		font-family: inherit;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	label,
	span {
		height: fit-content;
		width: fit-content;
		font-weight: 400;
		font-style: normal;
		color: white;
		margin: 0;
	}

	background-color: #0F0F0F;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
